body {
  font-family: arial;
}

h1, h2 {
  color: red;
}

ul li a {
  color: blue;
}

ol li a {
  color: orange;
}

#p1 {
  color: grey;
}
.p2 {
  color: #234234;
}
.cetak-tebal {
  font-weight: underline;
  font-size: 30px;
}